@model JelleSmart.ExamSystem.Core.DTOs.ResetPasswordDto
@{
    Layout = null;
    ViewData["Title"] = "Şifre Sıfırlama";
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <base href="~/">
    <meta charset="utf-8" />
    <title>Sistem Bilgisayar | @ViewData["Title"]</title>
    <meta name="description" content="Sistem bilgisayar şifre sıfırlama sayfası" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <link href="~/assets/css/pages/login/login-1.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="~/assets/media/logos/favicon.ico" />
</head>
<body id="kt_body" class="header-fixed header-mobile-fixed subheader-enabled subheader-fixed aside-enabled aside-fixed aside-minimize-hoverable page-loading">
    <div class="d-flex flex-column flex-root">
        <div class="login login-1 login-signin-on d-flex flex-column flex-lg-row flex-column-fluid bg-white" id="kt_login">
            <div class="login-aside d-flex flex-column flex-row-auto" style="background-color: #F2C98A;">
                <div class="d-flex flex-column-auto flex-column pt-lg-40 pt-15">
                    <a href="#" class="text-center mb-10">
                        <img src="~/media/logos/LogoLogin.png" class="max-h-150px" alt="Logo" />
                    </a>
                    <h3 class="font-weight-bolder text-center font-size-h4 font-size-h1-lg" style="color: #986923;">
                        Sistem Bilgisayar Portal Koala ile
                        <br />Eşsiz Kullanım Deneyimini Keşfet
                    </h3>
                </div>
                <div class="aside-img d-flex flex-row-fluid bgi-no-repeat bgi-position-y-bottom bgi-position-x-center" style="background-image: url(/assets/media/svg/illustrations/login-visual-1.svg)"></div>
            </div>
            
            <div class="login-content flex-row-fluid d-flex flex-column justify-content-center position-relative overflow-hidden p-7 mx-auto">
                <div class="d-flex flex-column-fluid flex-center">
                    <div class="login-form">
                        <form class="form" id="kt_login_reset_form" asp-controller="Account" asp-action="ResetPassword" method="post">
                            <input type="hidden" asp-for="Token" />
                            <input type="hidden" asp-for="Email" />
                            
                            <div class="alert alert-danger" role="alert" asp-validation-summary="ModelOnly"></div>
                            
                            <div class="pb-13 pt-lg-0 pt-5 text-center">
                                <h3 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg">Yeni Şifre Belirleyin</h3>
                                <p class="text-muted font-weight-bold font-size-h4">Lütfen yeni şifrenizi giriniz.</p>
                            </div>

                            <div class="form-group">
                                <input class="form-control form-control-solid h-auto py-6 px-6 rounded-lg font-size-h6" type="password" placeholder="Yeni Şifre" asp-for="NewPassword" autocomplete="off" />
                                <span asp-validation-for="NewPassword" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <input class="form-control form-control-solid h-auto py-6 px-6 rounded-lg font-size-h6" type="password" placeholder="Yeni Şifre Tekrar" asp-for="ConfirmPassword" autocomplete="off" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>

                            <div class="form-group d-flex flex-wrap pb-lg-0">
                                <button type="submit" id="kt_login_reset_submit" class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-4">Şifreyi Kaydet</button>
                                <a asp-controller="Account" asp-action="Login" class="btn btn-light-primary font-weight-bolder font-size-h6 px-8 py-4 my-3">İptal</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/assets/plugins/global/plugins.bundle.js"></script>
    <script src="~/assets/plugins/custom/prismjs/prismjs.bundle.js"></script>
    <script src="~/assets/js/scripts.bundle.js"></script>
</body>
</html>
